{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <main class="form-signin text-center">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form style="margin-top: 50px;" action="{{ path('app_login') }}" method="post">
{#            <img class="mb-4" src="image.png" alt="" width="72" height="57">#}
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
                <input type="email"
                       name="_username"
                       value="{{ last_username }}"
                       class="form-control"
                       id="username"
                       placeholder="name@example.com"
                >
                <label for="username">Email 1</label>
            </div>
            <div class="form-floating">
                <input type="password"
                       name="_password"
                       class="form-control"
                       id="password"
                       placeholder="Password"
                >
                <label for="password">Password</label>
            </div>

            {# If you want to control the URL the user is redirected to on success #}
            <input type="hidden" name="_target_path" value="/admin">

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">© 2022</p>
        </form>
    </main>


{#    {% if app.user %}#}
{#        <div class="mb-3">#}
{#            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>#}
{#        </div>#}
{#    {% endif %}#}

{% endblock %}
